.promo-titulo-contet {
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 2px solid black;
  background-color: rgb(231, 231, 231);
}
.promo-contet {
  display: flex;
  border-bottom: 2px solid black;
  padding: 30px;
  overflow: auto;
  gap: 60px;
}
.promo-titulo {
  text-align: center;
  margin: 40px;
  font-size: 50px;
}
.promo-subcontet {
  position: relative;
  border: 2px solid black;
  padding: 20px;
}

.promo-subcontet img {
  max-width: 350px;
}
.promo-subcontet h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.promo-contet h4 {
  color: rgb(36, 35, 35);
  padding: 10px;
  background-color: rgb(204, 198, 198);
  max-width: 170px;
  margin-bottom: 60px;
}
.promo-subcontet a {
  text-decoration: none;
  color: black;
  background-color: blueviolet;
  padding: 15px;
  border-radius: 15px;
}
