@import "titulo.css";
@import "kid.css";
@import "promo.css";
@import "msc.css";
@import "revendedor.css";
@import "cell.css";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
